/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700&display=swap');

/* Common Styles */
* {
	margin: 0;
	padding: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
}
.primary-btn {
	font-size: 20px;
	background-color: #ff900e;
	border-radius: 10px;
	padding: 20px;
	color: #fff;
	border: 0;
	margin: 20px;
	cursor: pointer;
	font-weight: 600;
}

/* header section*/
.header {
	background-color: rgba(255, 144, 14, 0.1);
}
.container {
	width: 80%;
	margin: 0 auto;
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
}
.logo {
	font-size: 45px;
	color: #131313;
}
.menu ul {
	display: flex;
}
.menu li {
	list-style: none;
	font-size: 18px;
	color: #424242;
	padding: 0 20px;
	font-weight: 400;
}

.banner-title {
	padding: 30px;
}
.banner-title h1 {
	font-size: 64px;
	color: #131313;
	text-align: center;
}
.banner-description {
	width: 75%;
	margin: 0 auto;
}
.banner-description p {
	font-size: 16px;
	color: #727272;
	text-align: center;
}
.banner-button {
	display: flex;
	justify-content: center;
}
.banner img {
	height: 100%;
	width: 100%;
	padding: 20px 0;
}

/* quick list section */

.quick-list {
	display: grid;
	grid-column-gap: 10px;
	grid-template-columns: 1.4fr 1fr;
	align-items: center;
	padding: 40px 0;
}
.quick-list-image {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: 7px;
}
.quick-list-info {
	width: 70%;
}
.quick-list-title {
	font-size: 45px;
	margin: 0 20px;
}
.quick {
	font-weight: 500;
	color: #727272;
}
.span-features {
	color: #ff900e;
}
.quick-list-description p {
	color: #727272;
	font-weight: 400;
	margin: 10px 20px;
}

/* features section */

/* Mobile Device */

@media screen and (max-width: 576px) {
	/* header section */
	.container {
		width: 100%;
	}
	.nav,
	.menu ul {
		flex-direction: column;
		align-items: center;
	}
	.menu li {
		padding: 10px;
	}
	.banner-description {
		padding: 10px 0;
		width: 95%;
	}
	.banner-title,
	.banner {
		padding: 0 10px;
	}

	/* features section */
	.quick-list {
		margin: 0 10px;
		grid-template-columns: 1fr;
		grid-column-gap: 0;
	}
	.quick-list-image {
		justify-content: center;
		flex-wrap: nowrap;
		flex-direction: column;
	}
	.quick-list-info {
		width: 100%;
		margin: 10px 0;
	}
	.quick-list-title,
	.quick-list-description p,
	.primary-btn {
		margin-left: 0;
	}
}

/* Tablet */

@media screen and (min-width: 577px) and (max-width: 768px) {
}
