/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');

/* Common Styles */
* {
	margin: 0;
	padding: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 700;
}
.primary-btn {
	font-size: 20px;
	background-color: #ff900e;
	border-radius: 10px;
	padding: 20px;
	color: #fff;
	border: 0;
	margin: 20px;
	cursor: pointer;
	font-weight: 600;
}

/* header section*/
.header {
	background-color: rgba(255, 144, 14, 0.1);
}
.container {
	width: 80%;
	margin: 0 auto;
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px 0;
}
.logo {
	font-size: 45px;
	color: #131313;
}
.menu ul {
	display: flex;
}
.menu li {
	list-style: none;
	font-size: 18px;
	color: #424242;
	padding: 0 20px;
	font-weight: 400;
	cursor: pointer;
}

.banner-title {
	margin: 30px;
}
.banner-title h1 {
	font-size: 64px;
	color: #131313;
	text-align: center;
}
.banner-description {
	width: 75%;
	margin: 0 auto;
}
.banner-description p {
	font-size: 16px;
	color: #727272;
	text-align: center;
}
.banner-button {
	display: flex;
	justify-content: center;
}
.banner img {
	height: 100%;
	width: 100%;
	padding: 20px 0;
}

/* quick list section */

.quick-list {
	display: grid;
	grid-template-columns: 1.4fr 1fr;
	grid-column-gap: 10px;
	align-items: center;
	margin: 40px 0;
}
.quick-list-image {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: 7px;
}
.quick-list-info {
	width: 70%;
}
.quick-list-title {
	font-size: 45px;
	margin: 0 20px;
}
.quick {
	font-weight: 500;
	color: #727272;
}
.span-features {
	color: #ff900e;
}
.quick-list-description p {
	color: #727272;
	font-weight: 400;
	margin: 10px 20px;
}

/* features section */

.features {
	display: grid;
	grid-template-columns: 1fr 1.4fr;
	grid-column-gap: 120px;
	align-items: center;
	margin: 60px 0;
}
.features-title {
	font-size: 45px;
	color: #131313;
	padding: 0 20px;
	border-left: 5px solid #ff900e;
}
.features-description p {
	font-weight: 400;
	font-size: 16px;
	color: #727272;
	margin: 20px 0;
}

.feature {
	margin: 20px 0;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #d0d0d0;
}
.feature-title {
	font-size: 20px;
	font-weight: 600;
	color: #131313;
	padding: 5px 0;
}
.feature-description p {
	font-size: 16px;
	font-weight: 400;
	color: #727272;
}
.features-image {
	width: 600px;
}
.features-image img {
	width: 100%;
}
.feature-button {
	margin-top: -90px;
	margin-left: -80px;
	cursor: none;
}
.feature-button button {
	font-size: 60px;
}
.feature-button .exp {
	font-weight: 500;
	font-size: 25px;
}

/* facts section */

.facts {
	margin-bottom: 80px;
}
.facts-title {
	font-size: 45px;
	margin: 20px 0;
	color: #131313;
}
.facts-description p {
	font-size: 16px;
	font-weight: 400;
	color: #727272;
	margin: 0 0 40px 0;
}
.facts-info {
	display: flex;
	justify-content: space-around;
}
.fact {
	border: 2px solid #ff900e;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 240px;
	height: 240px;
}
.fact .fact-icon {
	width: 45px;
	height: 45px;
	padding: 40px 40px 10px 40px;
}
.fact-icon img {
	width: 100%;
	height: 100%;
}
.fact-number {
	font-size: 45px;
	color: #424242;
	font-weight: 600;
}
.fact-description p {
	font-size: 20px;
	font-weight: 600;
	padding: 10px 20px 20px 20px;
}

/* transform */
.fact {
	transition: width 2s, height 2s, transform 1s;
}
.fact:hover {
	width: 280px;
	height: 280px;
	transform: rotate(360deg) scale(0.5, 0.5);
}

/* sponsor section */

.sponsor-title {
	font-size: 45px;
	color: #131313;
	text-align: center;
}
.sponsor-description {
	width: 40%;
	margin: 20px auto 60px;
}
.sponsor-description p {
	font-size: 16px;
	color: #727272;
	font-weight: 400;
	text-align: center;
}
.sponsor-icon {
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.sponsor-icon img {
	filter: grayscale(100%);
}

/* contact section */

.contact {
	display: grid;
	grid-template-columns: 1fr 0.5fr 1fr;
	background-color: #fff4e7;
	border-radius: 8px;
	padding: 40px;
	margin: 20px 0;
}
.contact i {
	color: #424242;
}
.address h3,
.phone,
.email {
	font-size: 25px;
	color: #727272;
	font-weight: 500;
	padding: 10px 0;
}
.contact-title,
.about-title {
	padding: 20px 0;
	font-size: 35px;
	color: #131313;
}
.about-description p {
	font-size: 20px;
	font-weight: 400;
	color: #727272;
	margin: 20px 0;
}
.about-us i {
	font-size: 40px;
	color: #424242;
}

/* footer */
.footer {
	margin-top: 40px;
	background-color: #fff4e7;
	border-radius: 8px;
}
.footer p {
	font-size: 20px;
	font-weight: 400;
	color: #727272;
	padding: 20px;
	text-align: center;
	margin-bottom: 5px;
}

/* Mobile Device */

@media screen and (max-width: 576px) {
	/* header section */
	.container {
		width: 100%;
	}
	.nav,
	.menu ul {
		flex-direction: column;
		align-items: center;
	}
	.menu li {
		padding: 10px;
	}
	.banner-description {
		padding: 10px 0;
		width: 95%;
	}
	.banner-title,
	.banner {
		margin: 35px 15px;
	}

	/* features section */
	.quick-list {
		margin: 35px 15px;
		grid-template-columns: 1fr;
	}
	.quick-list-image {
		justify-content: center;
		flex-wrap: nowrap;
		flex-direction: column;
	}
	.quick-list-info {
		width: 100%;
		margin: 10px 0;
	}
	.quick-list-title,
	.quick-list-description p,
	.primary-btn {
		margin-left: 0;
	}

	/* features section */

	.features {
		grid-template-columns: 1fr;
		margin: 35px 15px;
	}
	.features-image {
		width: 100%;
	}
	.feature-button {
		display: flex;
		justify-content: center;
		margin-top: -60px;
		margin-left: 0;
	}
	.primary-btn {
		margin: 0;
	}

	/* facts section */
	.facts {
		margin: 65px 15px;
	}
	.facts-info {
		width: 100%;
		flex-direction: column;
		align-items: center;
	}
	.fact {
		margin: 20px auto;
	}

	/* sponsor section */
	.sponsor {
		margin: 35px 15px;
	}
	.sponsor-description {
		width: 100%;
	}
	.sponsor-icon {
		flex-direction: column;
		gap: 15px;
		justify-content: center;
	}
	.sponsor-icon img {
		padding: 15px 0;
	}

	/* contact section */
	.contact {
		margin: 35px 15px;
		grid-template-columns: 1fr;
	}

	/* footer */
	.footer {
		margin: 0 15px;
	}
}

/* Tablet */

@media screen and (min-width: 577px) and (max-width: 768px) {
}
